# Database - Configuração para Docker
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/assistente-db?schema=public"

# Database - Configuração para desenvolvimento local (sem Docker)
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/assistente-db?schema=public"

# Server
PORT=3000
NODE_ENV=development

